# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/commerce_core?schema=public"

# JWT RS256 Keys
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"

# API
PORT=4000
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development

# Dashboard
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
